html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#map-container {
    width: 600px;
    height: 400px;
    overflow: auto;
    border: 1px solid #ccc;
    position: relative;
}

#map {
    width: 1500px; 
    height: 1500px;
}

.cell {
    width: 10px;
    height: 10px;
    float: left;
    border: 1px solid #ffffff00;
}

.building-img {
    width: 40px;
    height: 50px;
}

.road {
    background-color: #000000;
}

.house {
    background-color: #ff0101;
}

#redesign-btn {
    position: absolute;
    bottom: 80px; 
    left: 50%; 
    transform: translateX(-50%); 
}
